spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/FitnessUserDb
    username: postgres
    password: admin@123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: 8081

# Eureka stays outside the 'spring' block unless you use spring.cloud.discovery
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka