spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
      # ADD THIS LINE BELOW
      enabled: false

server:
  port: 8888